:root {
  --primary-color: #070b1ef3;
  --secondary-color: #4e578ff3;
  --decorative-color: rgb(2, 155, 79);
  --accent-color: rgb(73, 185, 197);
  --accent-color-secondary: rgba(18, 92, 100, 0.712);
  --negative-color: rgb(197, 14, 60);
  --negative-color-modal: rgb(174, 151, 21);
  --decorative-color-hover: rgb(87, 7, 91);
  --text-color: #f4dfdf;
  --text-color-secondary: #afc8ee;
  --text-color-secondary-alt: #bfced2;
  --hover-explanation-color: #f4dfdf;
  --border-color: #374151;
  --separator-color: #ff9100;
}

/* -------------------------------------------------------
--------------------- Global Styles ----------------------
------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amita", serif;
  font-weight: 700;
  font-style: normal;
  word-spacing: 3px;
  color: var(--decorative-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p,
a,
span,
input,
button,
.btn {
  color: var(--text-color);
  font-family: "Lora", serif;
}

body {
  background-color: var(--primary-color);
}

#h-seperator {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

#h-seperator {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.bullet01 {
  display: inline-block;
  margin-right: 1px;
  color: var(--text-color);
}
.bullet02 {
  display: inline-block;
  margin-right: 2px;
  color: var(--text-color-secondary);
}

.modal-bullet01 {
  display: block;
  margin-left: 1em;
  text-indent: -1em;
  color: var(--text-color);
}

.modal-bullet01::before {
  content: "*";
  display: block;
  margin-bottom: -0.9em;
  color: var(--separator-color);
}

.modal-bullet01::after {
  content: "";
  display: block;
  margin-top: -0.9em;
}
/* -------------------------------------------------------
--------------------- Navigation -------------------------
------------------------------------------------------- */

/* ___________ Header Config __________*/

header#header {
  padding-left: 1rem; /* Adjust this value for desired spacing */
  justify-content: flex-start; /* Align items to the left */
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1#site-title {
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  padding: 10px;
  border-width: 1px;
  border-color: var(--decorative-color);
  color: var(--decorative-color);
  border-radius: 20px;
}
header#header .header-left {
  display: flex;
  align-items: center;
}

header#header .header-right {
  margin-left: auto; /* Push the right section to the right */
}

#search-input {
  background-color: var(--secondary-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

#hamburger-icon {
  fill: var(--accent-color);
  border-width: 1px;
  border-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex: 0 0 auto;
}

.header-center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.header-right {
  flex: 0 0 auto;
}

.hamburger-button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
}

.hamburger-icon {
  width: 50px;
  height: 50px;
  fill: currentColor;
}

/* ___________ Sidebar Config__________*/

nav#sidebar {
  background-color: var(--primary-color);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 83px; /* Adjust this value to match the header height */
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 50;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

nav#sidebar .separator {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

nav#sidebar .separator span {
  color: var(--decorative-color);
  padding: 0 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#sidebar li {
  margin-bottom: 0.5rem;
}

nav#sidebar .sidebar-svgs {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  margin-right: 0.75rem; /* 12px */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

#sidebar .vertical-divider {
  border: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    transparent 0%,
    var(--separator-color) 50%,
    transparent 100%
  );
  position: absolute;
  right: 0;
  top: 0;
}

nav#sidebar .separator hr {
  border-color: var(--separator-color);
  margin: 0.5rem 1rem;
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--separator-color);
  margin: 0 0.5rem;
}

nav#sidebar .ml-4 {
  margin-left: 1rem;
}

nav#sidebar a {
  color: rgb(32, 203, 222);
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  border-width: 1px;
  border-color: var(--primary-color);
  border-radius: 5%;
}

nav#sidebar a:hover {
  background-color: var(--primary-color);
  border-width: 1px;
  border-color: var(--accent-color);
  border-radius: 5%;
}

#sidebar.open {
  transform: translateX(0);
}

#sidebar ul.sidebar-open {
  padding-top: 1px; /* Adjust this value to match the header height */
}

/* ___________ Breadcrumb Config __________*/

.breadcrumb {
  margin-bottom: 1.5rem;
}

.breadcrumb-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-arrow {
  color: var(--text-color);
  margin-right: 0.5rem;
}

/* -------------------------------------------------------
------------------------ Main ----------------------------
------------------------------------------------------- */
#main-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  transition: padding-left 0.3s ease-in-out;
}
main {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 800px;

  transition: margin-left 0.3s ease-in-out;
}

main.sidebar-open {
  margin-left: 250px;
}

.banner-image {
  width: 100%;
  height: 0;
  padding-bottom: 35.8%; /* Aspect ratio: 851 / 2377 = 0.358 */
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.banner-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--decorative-color);
  border-radius: 10px;
}

/* ________ Guide Page ______ */

.guides-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--decorative-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.guides-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.guide-card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.guide-card:hover {
  transform: translateY(-5px);
}

.guide-image {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.guide-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.guide-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.guide-link {
  display: block;
  padding: 1rem;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s ease;
}

.guide-link:hover {
  background-color: var(--decorative-color-hover);
}

.guide-vid {
  padding-bottom: 40px;
}

/* -------------------------------------------------------
------------------------ UI Tooling ---------------------------
------------------------------------------------------- */

/* ________ Horizontal Divider ______ */

hr.horizontal-divider {
  border: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--separator-color) 50%,
    transparent 100%
  );
  position: relative;
  margin: 0px 0;
}

hr.horizontal-divider:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  display: inline-block;
  border: 1px solid var(--separator-color);
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  transform: rotate(45deg);
}

/* _________Vertical Divider__________ */

.vertical-divider {
  border: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    transparent 0%,
    var(--separator-color) 50%,
    transparent 100%
  );
  position: relative;
  margin: 0 auto;
}

.vertical-divider:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  display: inline-block;
  border: 1px solid var(--separator-color);
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -8px;
  transform: rotate(45deg);
}

.btn {
  background-color: rgb(0, 0, 0);
  border-width: 1px;
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-weight: bold;
  border-radius: 6%;
  letter-spacing: 0.1px;
}

.btn:hover {
  background-color: var(--decorative-color-hover);
}
/* _________Plain Horizontal Divider__________ */

/* -------------------------------------------------------
--------------------- Resonsiveness ----------------------
------------------------------------------------------- */

@media (min-width: 1601px) {
  #hide-the-burger {
    display: none;
  }
}

@media (min-width: 601px) {
  #sidebar {
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 50;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  #sidebar.open {
    transform: translateX(0);
  }

  #main-content.sidebar-open {
    margin-left: 250px;
  }
}

@media (max-width: 600px) {
  h1#site-title {
    font-size: 16px;
    max-width: 130px;
  }
  p {
    font-size: 11px;
  }

  #search-input {
    max-width: 80px; /* Adjust the value as needed */
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    font-size: 12px;
  }

  #sidebar.open {
    transform: translateX(0);
    margin-left: 0;
  }

  .btn {
    max-width: 110px;
    font-size: 12px;
  }

  .encyclopedia-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .encyclopedia-row {
    flex-direction: column;
    align-items: center;
  }

  .encyclopedia-section {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .section-icon {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }

  .encyclopedia-section span {
    font-size: 1.2rem;
  }
}

@media (min-width: 1601px) {
  .show-below-1601 {
    display: none;
  }
}
